<h1>Eatin Burgers in Paradise</h1>

<div class="container">
    <div class="row">

        <div class="col-6">
            <h4>Lets Eat!</h4>
            {{#each burgers}}
            {{#unless devoured}}
            {{>burger}}
            {{/unless}}
            {{/each}}
        </div>

        <div class="col-6">
            <h4>Already eaten!</h4>
            {{#each burgers}}
            {{#if devoured}}
            {{>burger}}
            {{/if}}
            {{/each}}
        </div>

        <div class="col-12">
            {{>new_burger}}
        </div>

    </div>
</div>